.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;

    width: 100%;
    padding: 32px;

    &__logo {
        cursor: pointer;
    }
    &__list {
        justify-self: stretch;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-size: 14px;
        color: #a0a3a7;
    }
    &__btn-download {
        justify-self: end;

        padding: 16px 24px;

        font-size: 14px;
        line-height: 1;
        color: #24282e;

        border-radius: 999px;
    }
}
