* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding: 0 20px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #f2f4f7;

    background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    max-width: 1440px;
    height: 90vh;
    max-height: 1010px;
    margin: 5vh auto;

    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282e 101.33%);
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    overflow: hidden;
}

@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}
